.app-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.app-header {
  padding: 8px 16px;

  color: var(--headerTextColor);
  background: linear-gradient(to bottom, var(--purpleColorLighter), var(--blueColorDarker));
}

.app-footer {
  height: 8px;
  background-color: var(--purpleColorLighter);
}

.app-header-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.app-logo {
  font-size:x-large;
  font-weight: bolder;
}

.app-tips {
  font-size: small;
  font-weight: 400;
}